*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

/* header section style start  */

.header_section{
    width: 100%;
    height: 800px;
    background-image: url(./Media/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 120px;
    font-size: 25px;
}



.peragraph{
    display: grid;
    width: 50%;
    grid-template-columns: 1fr 1fr;
    margin-top: 80px;
    grid-gap: 30px;
    
}

.peragraph .peragraph1 p{
    padding: 20px 0 20px 0;

}
.peragraph .peragraph2 p{
    padding: 20px 0 20px 0;
}


/* header section style end */


/* buisness section style start  */


.buisness_main{
background-color: #141824;
width: 100%;
height: 600px;
padding: 40px 80px 40px 120px;

}

 .top_main{
    width: 80%;
    height: 200px;
    color: white;
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
}

 .top_content {
padding-top: 50px;
   height: 300px;
   width: 100%;
}

.top_content h3{
    padding: 25px 0 10px 0;
}


/* bottom style start  */

.bottom_main {
    width: 100%;
    height: 200px;
    background-color: #141824;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 80px 50px 120px;
    grid-gap: 30px;
    justify-items: center;
    justify-items: left;
}

 .main1 h3 {
    margin: 20px 0;
    background-color: #F1C50E;
    height: 40px;
    font: larger;
   padding: 10px 0 10px 0;
   color: black;
    
}


 /* joureny section stylr start  */

.journey_section {
    background-color: #e0e7cc;
    width: 100%;
    height: 600px;
    padding: 120px 0 0  120px;
    font-size: 25px;
}
.journey_section h3{
    font-size: 30px;
    padding: 20px 0px 20px 0px;
    
}

.btn{
    background-color: black;
    height: 30px;
    width: 20%;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 5px;
   
    
}






 /* joureny section stylr end  */






 .access_section {
    background-color: #E8EAE3;
    height: 670px;
    width: auto;
    padding: 50px 115px;
}

.access_section .container {
    display: flex;
}

.access_section .container i {
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    margin-top: 35px;
    font-size: 50px;
    color: #F1C50E;
    margin-bottom: 10px;
}

.container .left {
    width: 50%;
    padding: 100px 0;
    position: relative;
}

.container .left .clr4 {
    position: absolute;
    width: 350px;
    height: 54px;
    left: 77px;
    top: 188px;
    background-color: #F1C50E;
}

.container .left h1 {
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: normal;
    text-transform: capitalize;
    position: relative;
    z-index: 1;
}

.container .left p {
    font-size: 18px;
    line-height: 1.5em;
    color: hsl(0, 3%, 29%);
}

.container .left button {
    border: none;
    background-color: #000;
    color: #f2f2f2;
    padding: 15px 40px;
    text-transform: capitalize;
    margin-top: 20px;
    font-size: 16px;
}

.container .right {
    width: 50%;
}

.container .right .img {
    height: auto;
}

.right .img img {
    height: 540px;
    width: 600px;
    background-position: center;
}

/* Access point style end  */



/* testimonial style Starety  */

.testimonials {
    background-color: #141824;
    height: auto;
    color: #f1f1f1;
    padding: 40px 135px;
}

.testimonials_content {
    text-align: center;
    margin: 80px 60px;
}

.testimonials_content i {
    padding-bottom: 10px;
    font-size: 40px;
}

.testimonials_content h1 {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 35px;
    margin-top: 15px;
}

.testimonials_content p {
    text-transform: capitalize;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: .2px;
    color: rgba(231, 226, 226, 0.644);
    text-align: justify;
}

/* testimonial content style end  */



/* images section start  */

.images {
    height: auto;
    width: auto;
}

.image_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.image_container img {
    height: 350px;
    width: 100%;
    background-position: center;
}

 /* testimonial total section end  */




/* Earn Style  section start  */



.earn {
    height: 100vh;
}

.earn_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 100px;
}

.earn_left img {
    height: 500px;
    width: 500px;
}

.earn_right {
    padding: 50px 5px;
}

.earn_right .right_top {
    position: relative;
}

.earn_right .right_top .clr4 {
    position: absolute;
    width: 365px;
    height: 53px;
    left: 122px;
    top: -6px;
    background-color: #F1C50E;
}

.earn_right .right_top h1 {
    font-size: 35px;
    font-weight: 400;
    text-transform: capitalize;
    position: relative;
    z-index: 1;
}

.earn_right .right_top p {
    text-transform: capitalize;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: .2px;
    color: hsl(0, 3%, 29%);
    margin-top: 8px;
}

.earn_right .right_bottom {
    display: grid;
    grid-template-columns: auto auto;
    padding: 50px 0 0 0;
    grid-gap: 20px;
}

.earn_right .right_bottom h3 {
    font-size: 22px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.earn_right .right_bottom p {
    text-transform: capitalize;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: .2px;
    color: hsl(0, 3%, 29%);
    margin-top: 8px;
}

.right_bottom i {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-top: 35px;
    font-size: 40px;
    color: #F1C50E;
    margin-bottom: 10px;
    padding: 10px;
}


 

/* Earn section Style end  */

/* footer section   Style  start    */


footer {
    background: #141824;
    height: 600px;
    padding: 80px 50px;
}

.footer_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
    margin: 100px;
}

.footer_container .contact_us {
    color: #f1f1f1;
    position: relative;
}

.clr5 {
    position: absolute;
    width: 305px;
    height: 47px;
    left: 77px;
    top: 62px;
    background-color: #F1C50E;
}

.contact_us>i {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-top: 35px;
    font-size: 40px;
    color: #F1C50E;
    margin: 0 0 20px 0;
}

.contact_us h1 {
    font-size: 40px;
    font-weight: 200px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
}

.social_icon i {
    font-size: 26px;
    color: #FFB600;
    padding: 10px;
}

.contact_us cite,
p {
    text-transform: capitalize;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: .2px;
    color: hsla(0, 5%, 82%, 0.849);
    margin-top: 8px;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    background-color: transparent;
    padding: 10px 15px;
    border: 1px solid white;
    color: #fff;
    margin: 5px;
}

.contact_form {
    text-align: center;
}

.contact_form button {
    padding: 15px 30px;
    background-color: #fff;
    border: none;
    color: #000;
}




          /* End  */